@import "variables";

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

body {
  background-color: @white;
  font-family: @primary-font;
  p {
    font-size: 1.1rem;
  }
}

h1 {
  .special-headings();
}

h2 {
  .heading-two();
}

//Mobile navigation
.logo-mobile {
  max-width: 100px;
}

nav-link {
  color: @black;
}

// DESKTOP Navigation
nav {
  ul {
    li {
      padding: 25px;
      a {
        color: @black;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        &:hover, &:active {color:@green; text-decoration: none;}
        text-align: center;
          }
        }
      }
    }

//Buttons
.btn-primary {
  .button-style();
}

//BOOTSTRAP // JUMBOTRON // Hero Image
 .jumbotron {
  background-image:url(../images/water.jpg);
 background-size: cover;
 height: 50vh;
 border-radius: 0;
 h1 {
   .jumbotron-text();
 }
 .btn {
   margin: auto;
 }
}


///////////////////// BEGIN HOMEPAGE ////////////////////////////////
//HOME | Quote + Headshot Section

about-hero {

}
.quote-section {
  h2 {
    .special-headings();
    font-size: 1.9rem;
  }
  p {
    padding-bottom: 10px;
    font-size: 1.1rem;
  }
  padding-bottom: 20px;
}

//HOME | Accreditations to Partnerships Section Background Color
.background {
  background-color: @main;
}

//HOME | Accreditations Section
.credits-section {
  p {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

//HOME | Services Section
.services {
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .white-text {
    color: @white;
  }
}

//HOME | Partnerships
.partnerships {
  padding-left: 10px;
  padding-right: 10px;
  img {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  p {
    padding-bottom: 20px;
  }
}

//FOOTER
footer {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 20px;
  img {
    max-width: 40px;
  }
}
.number {
  font-weight: 500;
}

.copyright {
  color: @pink;
}



///////////////////// ABOUT page ////////////////////////////////
.about-hero {
  background-image:url(../images/pink-water.jpg);
  background-size: cover;
  background-position: bottom;
  height: 50vh;
  border-radius: 0;
}

.about-page {
  h1 {
    .special-headings();
  }
  .btn {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}



///////////////////// RESOURCES page ////////////////////////////////

.resources-hero {
  background-image:url(../images/plant_hero.jpg);
  background-size: cover;
  background-position: bottom;
  height: 50vh;
  border-radius: 0;
}
.resources-page {
  h1 {
    .special-headings();
  }
}

.accordion {
  padding: 20px 0 20px 0;
  margin: 0 auto;
}

#resources-accordion {
  .card-header {
    padding: 0;
  }
  .card-body .row {
    background-color: @white;
    .col-sm {
      padding-bottom: 10px;
    }
  }
  width: 75%;
  h2 button {
    width: 100%;
    .accordion-button-style();
  }
  a {
    .accordion-link-style();
  }
}


///////////////////// CONTACT page ////////////////////////////////

.contact-hero {
  background-image:url(../images/succulent_hero.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  border-radius: 0;
}

.contact-page {
  h1 {
    .special-headings();
  }
}

.contactpage-icons {
  width: 65px;
  padding-bottom: 25px;
}

.contact-icons .col {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    padding-right: 15px;
  }
}

.map-container iframe {
  width: 100%;
  height: 400px;
  padding: 0 0 15px 15px;
}

h3 {
  font-weight: bold;
  font-size: 1.3rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .form-group {
    width: 75%;
  }
  padding-bottom: 20px;
  .form-control::placeholder {
    color: @light-pink;
  }
}



///////////////////// BEGIN Media Queries ////////////////////////////////

/**********************Start Max-width 1000px *******************/
@media (max-width: 1000px) {
.desktop {
  display: none;
  }
}
/**********************End Max-width 1000px *******************/


/**********************Start Min-width 1000px *******************/
@media (min-width: 1000px) {
  .mobile {
    display: none;
  }
}
/**********************End Min-width 1000px *******************/
