@import "variables";

body {
  background-color: @white;
  font-family: @primary-font;
}

h2 {
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 1px;
}

// Navigation
nav {
  ul {
    li {
      padding: 40px;
      a {
        color: @black;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        &:hover, &:active {color:@green; text-decoration: none;}
        text-align: center;
      }
        }
      }
    }

//Buttons
.btn-primary {
  .button-style();
}

//BOOTSTRAP // JUMBOTRON // Hero Image
 .jumbotron {
  background-image:url(../images/water.jpg);
 background-size: cover;
 height: 50vh;
 border-radius: 0;
 h1 {
   font-family: 'July it', sans-serif;
   text-align: center;
   color: @white;
   letter-spacing: 1px;
   padding-top: 30px;
   padding-bottom: 2%;
   font-size: 3rem;
   line-height: 60px;
 }
 .btn {
   margin: auto;
 }
}

//HOME | Quote + Headshot Section
.quote-section {
  p {
    padding-bottom: 10px;
  }
  padding-bottom: 20px;
}

//HOME | Accreditations to Partnerships Section Background Color
.background {
  background-color: @main;
}

//HOME | Accreditations Section
.credits-section {
  p {
    padding-top: 20px;
  }
}

//HOME | Services Section
.services {
  div {
    padding: 150px;
  }
  .white-text {
    color: @white;
  }
}
.services-one {
  background-image:url(../images/green.jpg);
  background-size: contain;
  background-position: center;
}

.services-two {
  background-image:url(../images/plant.jpg);
  background-size: contain;
  background-position: center;
}

.services-three {
  background-image:url(../images/rocks.jpg);
  background-size: contain;
  background-position: center;
}

//HOME | Partnerships
.partnerships {
  img {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

//FOOTER
footer {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
  img {
    max-width: 40px;
  }
}
.number {
  font-weight: 500;
}

.copyright {
  color: @pink;
}





/**********************Start Min-width 1000px *******************/
@media (min-width: 1000px) {
}
