//PRIMARY COLORS
@main: #c7e5e5;
@white: #fffff8;
@gray: #70888a;
@black: #000211;

//SECONDARY COLORS

@green: #85c6ae;
@navy: #001e31;
@indigo: #09333f;
@pink: #d75074;
@light-pink: #f1cdd3;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap');
@primary-font: 'Fira Sans', sans-serif;

.special-headings {
  font-family: 'July it', sans-serif;
  text-align: center;
  color: @pink;
  letter-spacing: 1px;
  font-size: 2.8rem;
  text-transform: none;
  text-align: left;
  padding-bottom: 10px;
  line-height: 60px;
}

.button-style {
  background-color: @main;
  padding: 5px 20px 5px 20px;
  color: @black;
  border-color: @gray;
  border-width:medium;
  border-radius: 0;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
    &:hover {
      background-color:@gray;
      color: @main;
      border-color: @main;
    }
}
